@model ErrorViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal">
    <div class="modal-content">
        <span class="closeIcon"><i class="fas fa-times"></i></span>
        <div class="modal-body">
            <span class="icon"> <i class="fas fa-exclamation-triangle"></i></span>
            <div class="right-items">
                <h1>Ooops!</h1>
                <p>Something went wrong. @ViewBag.Error</p>
                <button id="okBtn">Tamam</button>
            </div>
        </div>
    </div>
</div>